body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
  }
  
  * {
    box-sizing: border-box;
  }

  .wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }

  
  /* 
  .navigation {
      width: 90%;
      margin: 0 auto;
  }

  header {
      background: transparent;
  }

  header::after {
      content: '';
      display: table;
      clear: both;
    

  }

  .true-north {
      border: 1px solid black;
      float: left;
      padding: 10px 20px;
      margin-top: 15px;
      margin-left: -5%;
  }

  .logo {
      float: left;
      padding: 10px 0;
  }

    nav {
      float: right;
  }

  nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }

  nav li {
      display: inline-block;
      margin-left: 70px;
      padding-top: 25px;
      position: relative;
  }

  nav a {
      color: black;
      text-decoration: none;
      text-transform: uppercase;
  }

  nav a:hover {
      color: black;
  }

  nav a::before {
      content: '';
      display: block;
      background-color: black;
      position: absolute;
      top: 0;
      height: 5px;
      width: 0%;
      transition: all ease-in-out 250ms;
  }

  nav a:hover::before {
      width: 100%;
  }
  */


  .main-image {
      background-image: url('../images/iceberg.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 700px;
      margin-top: 65px;
  }

  .main-headline {
   clear: both;
   padding-top: 17.5%;
   padding-left: 22.5%;
   font-size: 3rem;
   font-weight: 900;
  }

  .sub-image {
    background-image: url('../images/iceberg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sub-paragraph {
      font-size: .5rem;
  }

  footer {
    height: 50px;
    background-color: rgb(227, 230, 234);
  }

  .bor {
    border: 1px solid green;
  }



  /* START NAV

  * {
    box-sizing: border-box;
}

body {
  background: #F6F4E2;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 1px;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}


/*
.container {
  max-width: 960px;
  width: 95%;
  margin: 0 auto;
}

header {
  background: #f04343;
  color: #f7e9cc;
  padding: 1.5em 0;
  position: relative;
}

/*header::after {
  content: '';
  clear: both;
  display: block;
}*/


.logo {
    color: black;
    font-size: 1rem;
    margin: 0;
    padding-top: 24px;
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    height: 65px;
    background-color: white;
  }
  
  .logo span {
    font-weight: 400;
  }
  
  .menu-toggle {
    position: absolute;
    padding: 0.8em;
    top: 1em;
    right: .5em;
    cursor: pointer;
  }
  
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    content: '';
    display: block;
    background: black;
    height: 3px;
    width: 2em;
    border-radius: 3px;
    -webkit-transition: all ease-in-out 350ms;
    transition: all ease-in-out 350ms;
  }
  
  .hamburger::before {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  
  .hamburger::after {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  
  .open .hamburger {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .open .hamburger::before {
    display: none;
  }
  
  .open .hamburger::after {
    -webkit-transform: translateY(-1px) rotate(-90deg);
            transform: translateY(-1px) rotate(-90deg);
  }
  
  nav {
      margin: 0;
      padding: 0;
      position: fixed;
      top: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
      left: 0;
  }
  
  nav ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: none;
  }
  
  nav ul.opening {
      display: block;
      height: 30px;
  }
  
  nav li {
    border-bottom: 1px solid #f6f4e2;
  }
  nav li:last-child {
    border-bottom: none;
  }
  nav a {
    color: white;
    background: rgb(106, 105, 105);
    display: block;
    padding: 1.5em 4em 1.5em 3em;
    text-transform: uppercase;
    text-decoration: none;
  
  }
  
  nav a:hover,
  nav a:focus {
    background: white;
    color: black;
    text-decoration: none;

  }
  
  .site-nav--icon {
    font-size: 1.4em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255,255,255,.4);
  }
  
  /* flex styles */
  
  
  /*
  nav {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: #e7a119;
    -webkit-clip-path: circle(0px at top left);
            clip-path: circle(0px at top left);
    -webkit-transition: -webkit-clip-path ease-in-out 700ms;
    transition: -webkit-clip-path ease-in-out 700ms;
    transition: clip-path ease-in-out 700ms;
    transition: clip-path ease-in-out 700ms, -webkit-clip-path ease-in-out 700ms;
    text-align: left;
  }
  */
  
  
  @media (min-width: 780px) {
  
    .menu-toggle {
      display: none;
    }
  
    nav ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    nav li {
       flex: 1 1 auto;
       border: none;
   }
  
     nav li a {
         padding: 1.5em 1.3em 1.5em 1.3em;
         margin: 0;
         border: none;
         background-color: white;
         color: black;
      }

      nav a:hover,
      nav a:focus {
        background-color:rgb(106, 105, 105);
        color: white;
      }
  
    .logo {
        flex: 0 0 0;
        margin: 0;
    }
  
      nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        background-color: white;
        position: fixed;
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
      }
    /* nav {
        flex: 1 1 0;
        -webkit-clip-path: none;
              clip-path: none;
  
        border: 3px solid purple;
    }
  */
  
    /*.site-nav a:hover,
    .site-nav a:focus {
      background: transparent;
    }
  */
    .site-nav--icon {
      display: none;
    }
  
  }
  /* END NAV




  /* MEDIA QUERIES START */

  /* smartphone portrait and landscape */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
    }


/* iPads (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
    }

    /* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  
    }
    
/* MEDIA QUERIES END */


  


